.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  width: 100%;
}

.App-navbar{
  width: 100%;
}

.App-nav-link{
  color: aliceblue;
  margin-left: 7%;
  margin-right: 7%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
