.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  pointer-events: none;
  width: 100%;
}




.App-nav-link{
  color: aliceblue;
}



.App-footer {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  border-top: 2px solid grey;
  padding-top: 12px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 576px) {
 #navbarNav{
   justify-content: space-between;
 }
}
