.text-align-left{
    text-align: left;
}

.form-check {
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn {
    align-items: center;
    margin-bottom: auto;
}

.Home-header{
    width: 100%;
}
