.text-align-left{
    text-align: left;
}

.form-check {
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: small;
}


.col-sm{
    display: flex;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;

}




.card-text{
    font-size: medium;
}

@media (max-width: 1200px) {
    .card-text{
        font-size: small;
    }
  }
