.text-align-left{
    text-align: left;
}

.form-check {
    display: flex;
    justify-content: start;
    align-items: center;
}



.Home-header{
    width: 100%;
}


.col-sm{
    display: flex;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.btn{
    
    font-weight: bold;
    
}

.button{
    width: 60%;
}